In [ ]:
import ee
from utils.contants import PROJECT
import geemap as geemap
import pandas as pd
import numpy as np
import sklearn as sk

ee.Authenticate()
ee.Initialize(project=PROJECT)
geemap.ee_initialize()

# Pré processamento

In [88]:
df = pd.read_csv('./data/capao_urban_rate_01.csv')
# df
dataset = df[['system:index', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7']].copy()

# Appling 0 to urban class and 1 to vegeration class
dataset = dataset.replace(regex=r'1_\d+_\d+', value=0)
dataset = dataset.replace(regex=r'2_\d+_\d+', value=1)
dataset.rename(columns={'system:index': 'class'}, inplace=True)

dataset

    class    B2    B3    B4    B5    B6    B7
0       0   768  1153  1303  1816  2538  2848
1       0   705  1116  1260  2195  3127  3365
2       0   829  1330  2012  2617  3675  3760
3       0  1236  1738  2123  2753  3387  3520
4       0  1105  1518  1836  2321  3010  3397
..    ...   ...   ...   ...   ...   ...   ...
92      1   371   623   502  1079  2243  2564
93      1   346   654   483  1185  2558  2833
94      1   846  1218  1382  1991  3048  3324
95      1   352   662   478  1142  2555  2997
96      1   715  1099  1056  1755  2876  3180

[97 rows x 7 columns]

## Análise Visual

In [ ]:
geo_point = ee.Geometry.Point([-41.501150593949305,-12.609558240448216])

image = (
  ee.ImageCollection("COPERNICUS/S2_SR_HARMONIZED")
    .filterBounds(geo_point)
    .filterDate('2023-01-01', '2023-12-01')
    .sort('CLOUDY_PIXEL_PERCENTAGE')
    .first()
)
map = geemap.Map(center=[-12.609558240448216,-41.501150593949305], zoom=15)
map.add_layer(
  image,  
  {"bands": ["B4", "B3", "B2"],  min: 0, max: 2000, "gamma": 3.5},
  "true colors"
)
map